@import url(https://fonts.googleapis.com/css?family=Poppins);

.App {
  font-family: Poppins;
  max-width: 100vw;
  margin: 50px;
}

/* Header */

.Header nav {
  color: #4a5568;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  float: right;
  max-width: 1040px;
  margin: 10px auto;
  padding: 10px;
}

.Header a {
  color: #4a5568;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: #a07b62;
}

/* Landing page buttons */
.navLogin {
  /* login button nav*/
  background: #e8e8e8;
  border-radius: 8px;
  color: #554134;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.navLogin:hover,
.navSignUp:hover {
  background-color: #4a5568;
  color: #ffffff;
  transition: background 0.3s linear 0.1s, color 0.5s linear 0s;
}

.navSignUp {
  /* create account button nav*/
  background: #a07b62;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

/* Login, signup forms */
.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginForm h1,
.signUpForm h1 {
  text-align: center;
  color: #4a5568;
  font-size: 30px;
  margin-bottom: 100px;
}

.LoginFormButton,
.signUpFormButton {
  /* Login & Signup Form Button */
  background: #cfab94;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  width: 347px;
  height: 50px;
  margin-top: 70px;
}

/* Login & Signup Form */
.SignupForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}

.loginEmail,
.signUpEmail {
  /* Login Form Email Label */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  height: 50px;
  color: #4a5568;
}

.loginForm input,
.signUpForm input {
  color: #4a5568;
  font-size: 16px;
  width: 347px;
  height: 50px;
}

.loginPassword,
.signUpPassword {
  /* Login Form Password Label */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  height: 50px;
  color: #4a5568;
  padding: 10px;
}

.SignupForm input {
  /* Login Form Input Box */
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 350px;
  height: 50px;
}

/* Welcome(Landing Page) */

.landingWrapper {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
}

.landingContentWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 50px 10px 100px;
}

.landingImg {
  height: 80vh;
  float: left;
  margin: 0 20px 0 0;
}
.landingTitle {
  font-size: 40px;
  color: #a07b62;
  margin-top: 200px;
  position: relative;
}

.landingSubtitles {
  line-height: 60px;
  margin-left: 90px;
}

/* All Posts */

.allCafePosts {
  padding: 10px;
}

.Posts {
  align-items: center;
  border: 1px solid #4a5568;
  box-sizing: border-box;
  border-radius: 5px;
  width: 95%;
  margin: 50px;
  padding: 20px;
}

/* Create post */
.createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.createPostFormInputText {
  display: flex;
  flex-direction: row;
}

.createPostForm {
  display: flex;
  flex-direction: column;
}

.createPostFormInputText input {
  width: 300px;
  height: 50px;
}

.createPostForm label {
  margin-bottom: 20px;
}

.ratings {
  margin: 20px;
}

.createPostFormButton {
  background: #cfab94;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  width: 100px;
  height: 40px;
  margin-top: 70px;
}

.createPostFormButton:hover,
.LoginFormButton:hover,
.signUpFormButton:hover {
  background-color: #4a5568;
  transition: background 0.3s linear 0.1s, color 0.5s linear 0s;
}
